::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #4FA095; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #F6F6C9; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }